.course {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .course__container {
        padding: 0 15px;
        position: relative;
        z-index: 30;
    }
   
    .course__img {
        z-index: 21;
        img {
            display: block;
            margin: 0;
            line-height: 0;
            max-width: 100%;
            height: auto;
        }

    }
    .course__contact {
        background: $color-white;
        box-shadow: 0 30px 30px -10px #00000033;
        border-radius: 10px;
        text-align: center;
        h2 {
            @include styleText($color-dark-2, 37.5px, $fw-3);
            text-align: center;
            padding: 20px 0 40px 0;
            display: block;

        }
        .course__form {
            padding: 0 30px 66px 30px;
            .contact__info {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 14px;
                .contact__name {
                    flex: 1 0 50%;
                    max-width: 50%;
                    padding-right: 1em;
                    position: relative;
                    .name__icon {
                        position: absolute;
                        top: 14px;
                        left: 20px;
                        color: $color-primary;
                        font-size: 14px;

                    }
                    input {
                        width: 160px;
                        border: 1px solid rgba(0,0,0,.1);
                        padding: 1em 1em 1em 3.5em;
                        font-size: .8em;
                        height: 3.5em;
                        border-radius: 50px;
                        transition: all 0.5s ease;
                        outline: none;
                        &:focus {
                            box-shadow: 0 0 4px 0 #0000001a;
                            border: 1px solid #0000004d;
                        }
                    }
                  
                
                }
                .contact__email {
                    flex: 1 0 50%;
                    max-width: 50%;
                    padding-right: 1em;
                    position: relative;
                    .email__icon {
                        position: absolute;
                        top: 14px;
                        left: 20px;
                        color: $color-primary;
                        font-size: 14px;
                    }
                    input {
                        width: 160px;
                        transition: all 0.5s ease;
                        border: 1px solid rgba(0,0,0,.1);
                        padding: 1em 1em 1em 3.5em;
                        font-size: .8em;
                        height: 3.5em;
                        border-radius: 50px;
                        outline: none;
                        &:focus {
                            box-shadow: 0 0 4px 0 #0000001a;
                            border: 1px solid #0000004d;
                        }
                    }
                }

            }
            .contact__language {
                display: flex;
                margin: auto;
                justify-content: center;
                padding-bottom: 1em;
                .language__input {
                    flex: 1 0 100%;
                    max-width: 100%;
                    position: relative;
                    .language__icon {
                        position: absolute;
                        top: 14px;
                        left: 16px;
                        font-size: 12px;

                      color: $color-primary;
                    }
                    select {
                        border-radius: 50px;
                        font-size: .8em;
                        height: 3.5em;
                        max-width: 100%;
                        padding: 8px 238px 8px 29px;
                        border: 1px solid rgba(0,0,0,.1);

                    }
                }   
            }
            .contact__message {
                position: relative;
                .messgae__icon {
                    position: absolute;
                    top: 15px;
                    left: 16px;
                    color: $color-primary;
                    font-size: 12px;
                } 
                textarea {
                    padding: 1em 1em 1em 2.5em;
                    height: 90px;
                    line-height: 1.5;
                    font-size: .8em;
                    border: 1px solid rgba(0,0,0,.1);
                    border-radius: 20px;
                    outline: none;
                    &:focus {
                        box-shadow: 0 0 4px 0 #0000001a;
                        border: 1px solid #0000004d;
                    }
                }
            }
            .contact__btn {
                max-width: 150px;
             @include styleText($color-white, $fs-8, $fw-2);
            box-shadow: 0 0 0 3em #b61984 inset;
            transition: 300ms ease all;
            cursor: pointer;
            margin: 36px 0 0px 30px;
            &:hover {
                background: $color-white;
                box-shadow: 0 0 0 1px #b61984 inset;
                border: 1px solid $color-primary;
                
                    color: $color-primary;
                
            }  
            }
        }
    }
    .course__imageButton {
        
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        pointer-events: none;
        z-index: -2;
        img {
        width: 100%;
        height: auto;
        display: block;
        user-select: none;
        }
    }
}
@media screen and (max-width:992px) {
    .course {
        .course__contact {
            margin: 0;
            padding-top: 34px;
            h2 {
                @include styleText($color-dark-2,30px, $fw-3);
                text-align: left;
                margin-left: 34px;
            }
            .course__form {
                .contact__info {
                    justify-content: left;

                    .name__input {

                        input {
                            width: 100%;
                        }
                    }
                }
                .contact__email {
                    .email__input {
                        input {
                            width: 100%;
                        }

                    }

                }
                .contact__language {
                    .language__input {
                        select {
                            width: 100%;
                        }
                    }
                }
                .contact__message {
                    .message__text {
                        textarea {
                            width: 100%;
                        }
                    }
                }
                .contact__btn {
                    margin-left: 0;
                }
            }
        }

    }
}
@media screen and (max-width:780px) {
    .course {
        .course__contact {
            .course__form {
                .contact__info {
                    .contact__name {
                        flex: 1 0 100%;
                        max-width: 100%;
                        margin: 1rem 0;
                        input {
                            width: 100%;
                        }
                    }
                    .contact__email {
                      
                            flex: 1 0 100%;
                            max-width: 100%;
                            input {
                                width: 100%;
                            }
    
                        
    
                    }
                }
               .contact__btn {
                   max-width: 100%;
                   margin-left: 0;
               }
            }
        }
    }
}
@media screen and (max-width:414px) {
    .course {
        .course__contact {
            
            .course__form {
                .contact__language {
                    .language__input {
    
                        select {
                            padding: 8px 166px 8px 35px;
                        }
                    }
                }
            }
        }
    }
}